<meta charset="utf-8">
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" >
<title>Карта</title>
<form id="ajaxRoute" action='/route/' method='post'>
    {% csrf_token %}
    <div class="field">
        <label for="posA">A:</label>
        <input type="text" name="posA" value="92.884 55.991" id="posA">
        <label for="posB">B:</label>
        <input type="text" name="posB" value="92.860 55.979" id="posB">
        <input type="submit" class="input-submit" value="Искать" />
    </div>
    <div class="field">
        <label for="gisKrasnDist">Енисей-ГИС:</label>
        <label id="gisKrasnDist"></label>
        <label for="googleMapDist">GoogleMaps:</label>
        <label id="googleMapDist"></label>
    </div>
</form>
<div id="map" class="map"></div>
<script src="//gis.krasn.ru/mserver/api/map.3.1.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script src="//openlayers.org/api/OpenLayers.js"></script>
<script src="{% static 'js/main.js' %}"></script>